.authentication__header {
  text-align: center;
  margin-top: -0.5rem;
  
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  background-color: white;
  border: 1px solid black;
  padding: 3rem;
  margin-bottom: 1rem;
  border-radius: 6px;
}

.authentication__swich-button{
  margin-top: 1rem;
  /* font-size: xx-small; */
}